*.pyc
locust.wpr
locust.egg-info/**
locustio.egg-info/**
locust/_version.py
docs/_build/**
docs/cli-help-output.txt
docs/config-options.rst
mock.*.egg
web_test_*.csv
.eggs/
dist/**
.idea/**
*.iml
*.ipr
.vagrant
build/
.coverage
.tox/
docs/env-options.rst
.editorconfig
__pycache__
.pytest_cache
.sass-cache/
