*.pyc
locust.wpr
locust.egg-info/**
locustio.egg-info/**
locust/_version.py
locust/test/mock_*.py
docs/_build/**
docs/locust-cloud/**
docs/cli-help-output.txt
docs/config-options.rst
mock.*.egg
web_test_*.csv
err.txt
out.txt
.eggs/
dist/**
.idea/**
*.iml
*.ipr
.vagrant
build/
.coverage
docs/env-options.rst
.editorconfig
__pycache__
.pytest_cache
.sass-cache/
.env
yarn-error.log
.venv
.DS_Store
.python-version
locust/webui/dist/**
.coverage*