repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.10.0  # Pin the same version in the pyproject.toml file
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: yarn-lint
        name: yarn lint
        files: ^locust/webui/
        types_or: [javascript, jsx, ts, tsx]
        entry: cd locust/webui && yarn lint
        language: system
        pass_filenames: false
