language: python
python:
  - "2.6"
  - "2.7"
# command to install dependencies
install:
  - sudo apt-get install -y libevent-dev
  - pip install -r requirements.txt --use-mirrors
  - pip install -r locust/test/requirements.txt
# command to run tests
script: python setup.py test
