sudo: false
language: python
matrix:
  include:
    - python: 3.6
      env: TOXENV=py36
    - python: 3.5
      env: TOXENV=py35
    - python: 3.4
      env: TOXENV=py34
    - python: 3.3
      env: TOXENV=py33
    - python: 2.7
      env: TOXENV=py27
addons:
  apt:
    packages:
      - libev-dev
install:
  - pip install tox codecov
script:
  - tox
after_success:
  - codecov -e TOXENV
