<!DOCTYPE html> 
<html>
<head> 
    <title>Locust</title> 
    <link rel="stylesheet" type="text/css" href="/static/style.css" media="screen">
</head> 
<body class="{{state}}">
    <div class="top">
        <div class="top_content">
            <img src="/static/img/logo.png" class="logo" onclick="$('.about').fadeIn();" />
            <div class="boxes">
                <div class="top_box box_status">
                    <div class="label">STATUS</div>
                    <div class="value" id="status_text">
                        {{state}}
                    </div>
                    <div class="user_count">
                        <span id="userCount">{{user_count}}</span> users
                    </div>
                    <a href="#" class="new_test" id="new_test">New test</a>
                    <a href="#" class="edit_test">Edit</a>
                    {% if ramp %}
                        <a href="#" class="new_test ramp_test">Ramp</a>
                    {% endif %}
                </div>
                {% if is_distributed %}
                    <div class="top_box box_slaves" id="box_rps">
                        <div class="label">SLAVES</div>
                        <div class="value" id="slaveCount">{{slave_count}}</div>
                    </div>
                {% endif %}
                <div class="top_box box_rps box_running" id="box_rps">
                    <div class="label">RPS</div>
                    <div class="value" id="total_rps">0</div>
                </div>
                <div class="top_box box_fail box_running" id="box_fail">
                    <div class="label">FAILURES</div>
                    <div class="value"><span id="fail_ratio"></span>%</div>
                </div>
                <div class="top_box box_stop box_running" id="box_stop">
                    <a href="/stop"><img src="/static/img/stop.png" style="border:0;"></a>
                </div>
                <div class="top_box box_stop box_running" id="box_reset">
                    <a href="/stats/reset">Reset Stats</a>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
    <div class="main">
        
        <div class="start" id="start">
            <div style="position:relative;">
                <a href="#" class="close_link">Close</a>
            </div>
            <div class="padder">
                <h2>Start new Locust swarm</h2>
                <form action="/swarm" method="POST" id="swarm_form">
                    <label for="locust_count">Number of users to simulate</label>
                    <input type="text" name="locust_count" id="locust_count" class="val" /><br>
                    <label for="hatch_rate">Hatch rate <span style="color:#8a8a8a;">(users spawned/second)</span></label>
                    <input type="text" name="hatch_rate" id="hatch_rate" class="val" /><br>
                    <input type="image" src="/static/img/start_button.png" value="Start swarming" class="start_button">
                </form>
                <div style="clear:right;"></div>
            </div>
            <br>
            <div class="ramp_text">
            {% if ramp %}

                ...or let locust <a href="#" class="ramp_test">ramp</a> find the highest stable locust count for you
            {% endif %}
            </div>
        </div>

        <div class="edit" id="edit">
            <div style="position:relative;">
                <a href="#" class="close_link">Close</a>
            </div>
            <div class="padder">
                <h2>Change the locust count</h2>
                <form action="/swarm" method="POST" id="edit_form">
                    <label for="locust_count">Number of users to simulate</label>
                    <input type="text" name="locust_count" id="locust_count" class="val" /><br>
                    <label for="hatch_rate">Hatch rate <span style="color:#8a8a8a;">(users spawned/second)</span></label>
                    <input type="text" name="hatch_rate" id="hatch_rate" class="val" /><br>
                    <input type="image" src="/static/img/start_button.png" value="Start swarming" class="start_button">
                </form>
                <div style="clear:right;"></div>
            </div>
        </div>

        {% if ramp %}
            <div class="start ramp" id="ramp">
                <div style="position:relative;">
                    <a href="#" class="close_link">Close</a>
                </div>
                <div class="padder">
                    <h2>Ramping</h2>
                    <form action="/ramp" method="POST" id="ramp_form">
                        <div style="float:left;">
                        <label for="init_count">Initial number of clients</label>
                        <input type="text" name="init_count" id="init_count" class="val" /><br>
                        <label for="hatch_rate">Hatch rate <span style="color:#8a8a8a;">(users spawned/second)</span></label>
                        <input type="text" name="hatch_rate" id="hatch_rate" class="val" /><br>
                        <label for="hatch_stride">Hatch stride</label>
                        <input type="text" name="hatch_stride" id="hatch_stride" class="val" /><br>
                        <label for="precision">Precision (min value of hatch stride)</label>
                        <input type="text" name="precision" id="precision" class="val" /><br>
                        <label for="wait_time">Calibration time (seconds)</label>
                        <input type="text" name="wait_time" id="wait_time" class="val" value="20" /><br>
                        </div>
                        <div style="float:right;">
                        <label for="max_count">Max number of clients</label>
                        <input type="text" name="max_count" id="max_count" class="val" /><br>
                        <label for="percentile">Percentile (%)</label>
                        <input type="text" name="percentile" id="percentile" class="val" value="95" /><br>
                        <label for="response_time">Max percentile response time (ms)</label>
                        <input type="text" name="response_time" id="response_time" class="val" value="2000" /><br>
                        <label for="fail_rate">Accepted fail rate (%)</label>
                        <input type="text" name="fail_rate" id="fail_rate" class="val" value="5" /><br>
                        <br><br>
                        <input type="image" src="/static/img/start_button.png" value="Start swarming" class="start_button">
                        </div>

                    </form>
                    <div style="clear:right;"></div>
                </div>
            </div>
        {% endif %}
        
        <div class="status" id="status">
            <ul class="tabs">
                <li><a href="#">Statistics</a></li>
                <li><a href="#">Failures</a></li>
            </ul>
            <div style="clear:left;"></div>
            <div class="panes">
                <div style="display:none;">
                    <table id="stats" class="stats">
                        <thead>
                            <tr>
                                <th class="stats_label" href="#" data-sortkey="name">Name</th>
                                <th class="stats_label" href="#" data-sortkey="num_reqs"># requests</th>
                                <th class="stats_label" href="#" data-sortkey="num_failures"># fails</th>
                                <th class="stats_label" href="#" data-sortkey="median_response_time">Median</th>
                                <th class="stats_label" href="#" data-sortkey="avg_response_time">Average</th>
                                <th class="stats_label" href="#" data-sortkey="min_response_time">Min</th>
                                <th class="stats_label" href="#" data-sortkey="max_response_time">Max</th>
                                <th class="stats_label" href="#" data-sortkey="avg_content_length">Content-Length</th>
                                <th class="stats_label" href="#" data-sortkey="current_rps"># reqs/sec</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div style="margin-top:20px;">
                        <a href="/stats/requests/csv">Download request statistics CSV</a><br />
                        <a href="/stats/distribution/csv">Download response time distribution CSV</a>
                    </div>
                </div>
                <div style="display:none;">
                    <table id="errors" class="stats">
                        <thead>
                            <th class="error_count stats_label" data-sortkey="1"># fails</th>
                            <th class="error_type stats_label" data-sortkey="0">Type</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="about" style="display:none;">
            <div style="position:relative;">
                <a href="#" class="close_link">Close</a>
            </div>
            <div class="padder">
                <h1>About</h1>
                <p>
                    The original idea for Locust was Carl Byström's who made a first proof of concept in June 2010. 
                    Jonatan Heyman picked up Locust in January 2011, implemented the current concept of SubLocusts
                    and made the it work distributed across multiple machines.
                </p>                
                <p>
                    Jonatan, Carl and Joakim Hamrén has continued the development of Locust at their job, 
                    ESN Social Software, who have adopted Locust as an inhouse Open Source project.
                </p>
                
                <h1>Authors and Copyright</h1>
                <a href="http://cgbystrom.com/">Carl Byström</a> (<a href="http://twitter.com/cgbystrom/">@cgbystrom</a>)<br>
                <a href="http://heyman.info/">Jonatan Heyman</a> (<a href="http://twitter.com/jonatanheyman/">@jonatanheyman</a>)<br>
                Joakim Hamrén (<a href="http://twitter.com/Jahaaja/">@jahaaja</a>)<br>
                <a href="http://esn.me/">ESN Social Software</a> (<a href="http://twitter.com/esnme/">@esnme</a>)
                
                <h1>License</h1>
                Open source licensed under the MIT license.
                
                <h1>Version</h1>
                {{version}}<br>
                <a href="http://locustload.org/">Website</a>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/static/jquery-1.4.min.js"></script> 
    <script type="text/javascript" src="/static/jquery.jqote2.min.js"></script>
    <script type="text/javascript" src="/static/jquery.tools.min.js"></script> 
    <script type="text/x-jqote-template" id="stats-template">
        <![CDATA[
        <tr class="<%=(alternate ? "dark" : "")%>">
            <td><%= this.name %></td>
            <td><%= this.num_reqs %></td>
            <td><%= this.num_failures %></td>
            <td><%= Math.round(this.median_response_time) %></td>
            <td><%= Math.round(this.avg_response_time) %></td>
            <td><%= this.min_response_time %></td>
            <td><%= this.max_response_time %></td>
            <td><%= Math.round(this.avg_content_length) %></td>
            <td><%= Math.round(this.current_rps*100)/100 %></td>
        </tr>
        <% alternate = !alternate; %>
        ]]>
    </script>
    <script type="text/x-jqote-template" id="errors-template">
        <![CDATA[
        <tr class="<%=(alternate ? "dark" : "")%>">
            <td><%= this[1] %></td>
            <td><%= function(e) { return e.replace("<", "&lt;"); }(this[0]) %></td>
        </tr>
        <% alternate = !alternate; %>
        ]]>
    </script>
    <script type="text/javascript">
        $("#box_stop a").click(function(event) {
            event.preventDefault();
            $.get($(this).attr("href"));
            $("body").attr("class", "stopped");
            $(".box_stop").hide();
            $("a.new_test").show();
            $("a.edit_test").hide();
            $(".user_count").hide();
        });

        $("#box_reset a").click(function(event) {
            event.preventDefault();
            $.get($(this).attr("href"));
        });
        $(".ramp_test").click(function(event) {
            event.preventDefault();
            $("#start").hide();
            $("#ramp").show();
        });
        $("#new_test").click(function(event) {
            event.preventDefault();
            $("#ramp").hide();
            $("#start").show();
        });
        $(".edit_test").click(function(event) {
            event.preventDefault();
            $("#edit").show();
        });
        $(".close_link").click(function(event) {
            event.preventDefault();
            $(this).parent().parent().hide();
        });
        
        var alternate = false;
        
        $("ul.tabs").tabs("div.panes > div");
        
        var stats_tpl = $('#stats-template');
        var errors_tpl = $('#errors-template');
        
        $('#swarm_form').submit(function(event) {
            event.preventDefault();
            $.post($(this).attr("action"), $(this).serialize(),
                function(response) {
                    if (response.success) {
                        $("body").attr("class", "hatching");
                        $("#start").fadeOut();
                        $("#status").fadeIn();
                        $(".box_running").fadeIn();
                        $("a.new_test").fadeOut();
                        $("a.edit_test").fadeIn();
                        $(".user_count").fadeIn();
                    }
                }
            );
        });

        $('#ramp_form').submit(function(event) {
            event.preventDefault();
            $.post($(this).attr("action"), $(this).serialize(),
                function(response) {
                    if (response.success) {
                        $("body").attr("class", "hatching");
                        $("#ramp").fadeOut();
                        $("#status").fadeIn();
                        $(".box_running").fadeIn();
                        $("a.new_test").fadeOut();
                        $("a.edit_test").fadeIn();
                        $(".user_count").fadeIn();
                    }
                }
            );
        });

        $('#edit_form').submit(function(event) {
            event.preventDefault();
            $.post($(this).attr("action"), $(this).serialize(),
                function(response) {
                    if (response.success) {
                        $("body").attr("class", "hatching");
                        $("#edit").fadeOut();
                    }
                }
            );
        });

        var sortBy = function(field, reverse, primer){
            reverse = (reverse) ? -1 : 1;
            return function(a,b){
                a = a[field];
                b = b[field];
               if (typeof(primer) != 'undefined'){
                   a = primer(a);
                   b = primer(b);
               }
               if (a<b) return reverse * -1;
               if (a>b) return reverse * 1;
               return 0;
            }
        }

        // Sorting by column
        var sortAttribute = "name";
        var desc = false;
        var report;
        $(".stats_label").click(function(event) {
            event.preventDefault();
            sortAttribute = $(this).attr("data-sortkey");
            desc = !desc;

            $('#stats tbody').empty();
            $('#errors tbody').empty();
            alternate = false;
            totalRow = report.stats.pop()
            sortedStats = (report.stats).sort(sortBy(sortAttribute, desc))
            sortedStats.push(totalRow)
            $('#stats tbody').jqoteapp(stats_tpl, sortedStats);
            alternate = false;
            $('#errors tbody').jqoteapp(errors_tpl, (report.errors).sort(sortBy(sortAttribute, desc)));
        });

        function updateStats() {
            $.get('/stats/requests', function (data) {
                report = JSON.parse(data);
                $("#total_rps").html(Math.round(report.total_rps*100)/100);
                //$("#fail_ratio").html(Math.round(report.fail_ratio*10000)/100);
                $("#fail_ratio").html(Math.round(report.fail_ratio*100));
                $("#status_text").html(report.state);
                $("#userCount").html(report.user_count);
                
                if (report.slave_count)
                    $("#slaveCount").html(report.slave_count)
                
                $('#stats tbody').empty();
                $('#errors tbody').empty();

                alternate = false;

                totalRow = report.stats.pop()
                sortedStats = (report.stats).sort(sortBy(sortAttribute, desc))
                sortedStats.push(totalRow)
                $('#stats tbody').jqoteapp(stats_tpl, sortedStats);
                alternate = false;
                $('#errors tbody').jqoteapp(errors_tpl, (report.errors).sort(sortBy(sortAttribute, desc)));
                setTimeout(updateStats, 2000);
            });
        }
        updateStats();
    </script>
</body>
</html>
