[run]
branch = True
source = locust

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
ignore_errors = True
omit =
    docs/*
    examples/*
    locust/test/*
    setup.py
