body {
    background: #3b2505 url("background.png") repeat-x center top;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #d1ad78;
}

a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

#content {
    background: url("locust_banner.png") no-repeat center top;
    width: 1000px;
    margin: 0 auto;
    display: block;
    height: 200px;
    padding-top: 115px;
}

#start { color: black; float: right; }

table {
    border-collapse: collapse;
}

thead {
    background-color: #684109;
    padding: 0; margin: 0;
}

td, th {
    padding: 3px;
    margin: 0;
    text-align: left;
}
th.error_count {
    width: 70px;
}

table.stats {
    width: 100%;
}

em {
    width: 100%;
    color: white;
    display: block;
    margin-left: 180px;
    font-size: 20px;
    font-family: Palatino, Times New Roman, serif;
}

ul.tabs {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.tabs li {
    display: block;
    float: left;
    margin-right: 10px;
}

.panes {
    margin-top: 15px;
}
