body {
    background: #111717;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
}

a {
    color: #308dbf;
    text-decoration: none;
}

.top {
    background: url(img/top_bg.png);
    width: 100%;
    height: 93px;
    color: #000;
}
.top_content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.top .logo {
    float: left;
}


.top .boxes {
    float:right;
}

.top_box {
    float: left;
    border-left: 1px solid #d9d9d9;
    padding-left: 20px;
    padding-right: 20px;
    height: 53px;
}
.top_box:first-child {
    border: none;
}
.top_box .label {
    color: #7a7a7a;
    font-size: 11px;
    font-weight: bold;
}
.top_box .value {
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
.boxes .box_rps .value {
    font-size: 32px;
}

.boxes .box_rps {
    display: none;
}
.running .boxes .box_rps {
    display: block;
}

.main {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 20px;
}

.start {
    width: 338px;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -169px;
}
.start h2 {
    color: #addf82;
    font-size: 26px;
    font-weight: bold;
}
.start label {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 16px;
}
.start input.val {
    border: none;
    background: #fff;
    height: 52px;
    width: 328px;
    font-size: 24px;
    padding-left: 10px;
}
.start input.start_button {
    margin-top: 20px;
    float: right;
}


.running .start {display: none;}
.stopped .start {display: block;}
.running .status {display: block;}
.stopped .status {display: none;}

.status table {
    border-collapse: collapse;
    width: 100%;
}
.status thead {
    background-color: #000;
    padding: 0;
    margin: 0;
    color: #6d6d6d;
    border-bottom: 1px solid #292f2f;
}
.status td, th {
    padding: 10px;
    margin: 0;
    text-align: right;
}
.status td:first-child, th:first-child {
    text-align: left;
}
.status tr.dark {
    background:#0d1111;
}
.status th {
    font-weight: normal;
}
.status th.error_count {
    width: 70px;
}

em {
    width: 100%;
    color: white;
    display: block;
    margin-left: 180px;
    font-size: 20px;
    font-family: Palatino, Times New Roman, serif;
}

ul.tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 0px;
}
ul.tabs li {
    display: block;
    float: left;
    margin-right: 10px;
    font-size: 16px;
}
ul.tabs li a.current {
    color: #fff;
    /*font-weight: bold;*/
}

.panes {
    margin-top: 20px;
}
