html {
    height: 100%;
}
body {
    background: #173529;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    padding-bottom: 40px;
    padding-top: 93px;
    position: relative;
    box-sizing: border-box;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #2be6a4;
    text-decoration: none;
}
a:hover {
    color: #4ff9bd;
}

.top {
    background: url(img/top_bg.png);
    width: 100%;
    height: 93px;
    color: #000;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}
.top a {
    color: #308dbf;
}
.top-content {
    padding-top: 20px;
}
.top .logo {
    float: left;
    width: 200px;
    height: 48px;
    margin-top: 2px;
}


.top .boxes {
    float:right;
}

.top_box {
    float: left;
    border-left: 1px solid #d9d9d9;
    padding-left: 20px;
    padding-right: 20px;
    height: 53px;
}
.top_box:first-child {
    border: none;
}
.top_box .label {
    color: #7a7a7a;
    font-size: 11px;
    font-weight: bold;
}
.top_box .value {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    max-width: 165px;
    word-wrap: break-word;
}
.boxes .box_rps .value, .boxes .box_slaves .value {
    font-size: 32px;
}
.boxes .box_fail .value {
    font-size: 22px;
}
.boxes .box_status .value {
    text-transform: uppercase;
}
.top_box .stop-button {
    display: block;
    float: left;
    background: #d81212;
    border-radius: 5px;
    color: #fff;
    padding: 7px 18px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    margin-right: 12px;
}
.top_box .stop-button:hover {
    background: #c80202;
}
.top_box .stop-button i {
    display: block;
    background: #fff;
    width: 17px;
    height: 17px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    box-shadow: 0 0 20px rgba(255,255,255, 0.5)
}
.top_box .reset-button {
    display: block;
    float: left;
    background: #5a4b4b;
    border-radius: 5px;
    color: #fff;
    padding: 11px 16px;
    line-height: 1.5em;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
}
.top_box .reset-button:hover {
    background: #4e4141;
}

#host_url {
    font-size: 13px;
    font-weight: normal;
    display: inline-flex;
}
.boxes .box_running {
    display: none;
}
.hatching .boxes .box_running {display: block;}
.running .boxes .box_running {display: block;}
.stopped .boxes .box_running {display: block;}
.stopped .boxes .box_stop {display: none;}

.container {
    max-width: 1200px;
    min-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

container_title {
    max-width: 1200px;
    min-width: 1000px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.main {
    position: relative;
}

.start {
    width: 389px;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -169px;
    z-index: 1;
}

.edit {
    width: 395px;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -169px;
    z-index: 2; 
}

.multiple_column {
    display: none;
    width: 398px;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -169px;
    background: #173529;
    border-radius: 5px;
    z-index: 1;
}

.ramp {
    width:800px;
    margin-left: -370px;
}

.edit_config {
    position: relative;
    display: block;
    width:100%;
    height: 100%;
    align-content: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #172D24;
    box-shadow: 0 0 60px rgba(0,0,0,0.3);
}

.start .padder, .edit .padder, .edit_config .padder, .multiple_column .padder {
    padding: 30px;
    /* padding-top: 0px; */
}

#json_editor{
    height: 400px;
    background-color: #fff;
    margin-bottom: 40px;
}

label[for="json_option"]+div{
    margin-top: 5px;
}

#column_name {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
    margin-top: 5px;
    height: 65px;
}

.required_field label::after { 
    content: "*";
    font-size: 18px;
    color: red;
}

.multiple_column label{
    font-weight: bold;
    font-size: 15px;
}

.head_section {
    background: #132b21;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title_header {
    color: #addf82;
    font-size: 26px;
    font-weight: bold;
}

.start h2, .edit h2, .edit_config h2, .title_header, .multiple_column h2 {
    color: #addf82;
    font-size: 26px;
    font-weight: bold;
}
.start label, .edit label, .edit_config label {
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 16px;
}

.edit_config textarea {
    display: block;
    resize: none;
    width:  100%;
    height: 400px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 16px;
}

.start input.val, .edit input.val, .multiple_column input.val {
    border: none;
    background: #fff;
    height: 40px;
    width: 328px;
    font-size: 20px;
    padding-left: 10px;
}

.select2-container {
    color:black;
    font-size: 14px;
}

.select2-container .select2-selection--single {
    height: 36px !important;
    width: 328px;
    font-size: 14px !important;
    padding: 6px 15px 6px 0px !important;
}

#add-new-file-modal .select2-selection--single {
    width: 100%;
}

.start button,
.edit button, .edit_config button[type=submit], .multiple_column button, 
#new-test-confirmation .btn-newtest, #upload_btn_submit {
    margin: 20px 0px 20px 0px;
    float: right;
    font-size: 14px;
    font-weight: bold;
    background: #8adaba;
    padding: 8px 30px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.ramp button {
    position: relative;
    top: -53px;
}

#submit_json_btn{
    position: absolute;
    top: 8px;
    right: 10px;
}

.start button:hover,
.edit button:hover,
.edit_config button:hover,
.multiple_column button:hover {
    background: #74b99d;
}


.stopped .start {
    display: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 3px solid #eee;
    background: #132b21;
    box-shadow: 0 0 60px rgba(0,0,0,0.3);
}

.stopped .edit {display: none;}
.running .edit, .hatching .edit, .multiple_column{
    display: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 3px solid #eee;
    background: #132b21;
    box-shadow: 0 0 60px rgba(0,0,0,0.3);
}

.running .start, .hatching .start {display: none;}

.ready .edit {display: none;}
.ready .start {display: inline;}

.running .status, .hatching .status {display: block;}
/* .stopped .status {display: block;} */
.ready .status {display: none;}

.stopped .boxes .edit_test, .ready .boxes .edit_test, .stopped .box_status > ul > li:nth-child(1), .ready .box_status > ul > li:nth-child(1) {display: none;}
.stopped .boxes .user_count, .ready .boxes .user_count {display: none;}

.running a.new_test, .ready a.new_test, .hatching a.new_test {display: none;}
.running a.new_test {display: none;}
.stopped a.new_test {display: block;}

.start a.close_link, .edit a.close_link, .multiple_column a.close_link_headers {
    position: absolute;
    right: 10px;
    top: 10px;
}

.stopped .start a.close_link {display: inline;}
.running .start a.close_link, .ready .start a.close_link, .hatching .start a.close_link  {display: none;}

.stopped .edit a.close_link, .ready .edit a.close_link {display: none;}
.running .edit a.close_link, .hatching .edit a.close_link {display: inline;}

.ready .ramp {display: none;}

.ready .auto_ramp_text, .ready .manual_ramp_text {display: inline;}
.hatching .auto_ramp_text, .running .auto_ramp_text, .stopped .auto_ramp_text, .hatching .manual_ramp_text, .running .manual_ramp_text, .stopped .manual_ramp_text {display: none;}


.ready .auto_ramp_text {
    position: relative;
    top: -20px;
    left: 15px;
}

.ramp .manual_ramp_text {
    position: absolute;
    bottom: 25px;
    right: 75px;
}

.stats_label {
    cursor: pointer;
}

.status table {
    width: 100%;
    border-radius: 3px;
    border: 2px solid #11251c;
    border-spacing: 0;
    margin-bottom: 30px;
}
.status thead {
    background: #11251c;
    padding: 0;
    margin: 0;
    color: #a9c5ba;
}
.status table thead tr:hover {
    background: none;
}
.status table tr:hover {
    background: #1d4434;
}
.status td, .status th {
    padding: 10px;
    margin: 0;
    text-align: left;
}
.status td:first-child, .status th:first-child {
    padding-left: 16px;
}
.status td:last-child, .status th:last-child {
    padding-right: 16px;
}
.status td.numeric,
.status th.numeric {
    text-align: right;
}
.status tr.dark {
    background:#153126;
}
.status th {
    font-weight: bold;
}
.status th.error_count {
    width: 70px;
}
.status tr.total {
    background: #11251c;
}
.status tr.total td {
    font-weight: bold;
}
.status td {
    max-width: 450px;
    overflow: hidden;
    whitespace: no-wrap;
    text-overflow: ellipsis;
}
@media (max-width: 1100px) {
    .status td {
        max-width: 350px;
    }
}

#errors td, #errors th {
    text-align: left;
}

#exceptions th.exception_occurences {
    width: 110px;
    text-align: center;
}
#exceptions th.exception_traceback {
    text-align: left;
}

#exceptions td.occurences {
    text-align: center;
}
#exceptions td.traceback {
    font-size: 12px;
    line-height: 18px;
    font-family: monospace;
    white-space: pre;
}

#charts {
    width: 100%;
}
#charts .chart {
    height: 350px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid #11271e;
    border-radius: 3px;
}
#charts .note {
    color: #b3c3bc;
    margin-bottom: 30px;
    border-radius: 3px;
    background: #132b21;
    padding: 10px;
    display: inline-block;
}

em {
    width: 100%;
    color: white;
    display: block;
    margin-left: 180px;
    font-size: 20px;
    font-family: Palatino, Times New Roman, serif;
}

nav.menu {
    background: #132b21;
    display: block
}

ul.tabs {
    overflow: hidden
}
ul.tabs li {
    float: left;
    font-size: 16px;
}
ul.tabs li a {
    padding: 14px 10px;
    display: inline-block; 
    color: #b3c3bc;
    position: relative;
    font-weight: 600;
    font-size: 14px;
}
ul.tabs li a:hover {
    background: #10211a;
}
ul.tabs li a.current {
    color: #fff;
}
ul.tabs li a.current:after {
    content: "";
    display: block; 
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 3px;
    background: #fff;
}

.panes{
    margin-top: 30px;
}
.panes > div {
    overflow: hidden;
}


#add-new-file-modal, #new-test-confirmation {
    width: 398px;
    position: absolute;
    left: 50%;
    top: 130px;
    height: 240px;
    margin-left: -169px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 3px solid #eee;
    background: #132b21;
    box-shadow: 0 0 120px rgba(0,0,0,0.3);
}
#add-new-file-modal{
    padding-left : 1%; 
    padding-right: 1%;
    height: 275px;
}
#new-test-confirmation {
    height: 160px;
}
#add-new-file-modal .modal-dialog, #new-test-confirmation .modal-dialog{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: -50px;
}
#add-new-file-modal .modal-header, #new-test-confirmation .modal-header {
    border-bottom-color: transparent;
}   
#add-new-file-modal .close, #new-test-confirmation .close {
    color: #addf82;
}
#new-test-confirmation .modal-header .close, #add-new-file-modal .close{
    margin-right: -25px;
    padding: 3px;
}

#new-test-confirmation .modal-body, #add-new-file-modal .modal-body {
    padding-top: 25px;
    padding-bottom: 0px;
    color: white;
}
#new-test-confirmation .modal-footer {
    border-top-color: transparent;
    padding: 0;
}
#new-test-confirmation .btn-newtest {
    padding: 8px 30px;
    margin: 3px 3px;
}
#add-new-file-modal .modal-content, #new-test-confirmation .modal-content {
    background-color: #132b21;
    border-color: transparent;
}
#add-new-file-modal .modal-title, #new-test-confirmation .modal-title {
    color:#addf82;
}
#upload_file_form, #new-test-confirmation {
    color: white;
}
.about {
    width: 398px;
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -169px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 3px solid #eee;
    background: #132b21;
    box-shadow: 0 0 60px rgba(0,0,0,0.3);
}
.about a.close_link {
    position: absolute;
    right: 10px;
    top: 10px;
}
.about .padder{
    padding: 30px;
    padding-top: 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    background: #132b21;
    height: 40px;
    padding: 12px 0;
    box-sizing: border-box;
}

.footer a {
    margin-right: 10px;
    color: #48a584;
}

.none {
    display:none;
}

.custom_padder {
    position:relative;
    width: 100%;
    height: 100%;
    background: #172D24;
}

.center_padder {
    position:relative;
    padding-left: 350px;
    width: 100%;
    height: 100%;
    background: #172D24;
}
.chart-filter {
    top:90px;
    position: relative;
    z-index: 1;
    float: right;
    margin-right: 70px;
}

.chart-filter > button {
    margin: 0px 2px;
}

.modal-title {
    color: #000;
    font-weight: 600;
    position: absolute;
}

.modal-body {
    color: #000;
    font-size: 14px;
}

.modal-footer > button{
    border: 1px solid #E5E5E5;
    font-size: 14px;
}

#link_navigation {
    float: right;
    position: relative;
    top: -30px;
}

#link_navigation li, .top_box li {
    display: inline-block;
    padding: 0px 5px 0px 5px;
}

#link_navigation li {
    border-left: 1px solid white;
}

#link_navigation li:first-child {
    border: none;
}

.box_status ul {
    margin-left: -5px;
}

.box_status li {
    border-right: 1px solid #cecccc;
    font-size: 13px;
}

.box_status li:last-child, .box_status li:first-child{
    border: none;
}

.user_count {
    font-size: 13px;
    margin-top: -5px;
}

label {
    margin: 0px 0px;
}

.start .edit_config_link {
    position: relative;
    top: 28px;
}

.ramp .edit_config_link {
    position: relative;
    top: 36px;
}
