sphinx==6.2.1
sphinx-rtd-theme==1.2.2
readthedocs-sphinx-search==0.1.2
Sphinx-Substitution-Extensions==2020.9.30.0
recommonmark==0.5.0
commonmark==0.9.1
pillow==10.0.0
mock==1.0.1
alabaster>=0.7,<0.8,!=0.7.5
readthedocs-sphinx-ext<2.3
jinja2<3.1.0
