/* Make it possible to have multiline table cells by removing white-space:nowrap */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}
.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}
.wy-menu-vertical a[href*="hosted-load-testing.html"]::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 8px;
    vertical-align: middle;
    
    background-image: url('azure.svg');
    background-size: contain;
    background-repeat: no-repeat;
}